<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MicosController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MicosController.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value>5460</value>
            </setting>
            <setting name="MicosFile_Path" serializeAs="String">
                <value>C:\Users\e33230-user3\OneDrive - hqhamamatsu.onmicrosoft.com\デスクトップ\PCPPC.hod</value>
            </setting>
            <setting name="Micos_ProcessName" serializeAs="String">
                <value>acslaunch_win-64</value>
            </setting>
            <setting name="Micos_WindowName" serializeAs="String">
                <value>A - 5250 ディスプレイ</value>
            </setting>
            <setting name="Micos_OutPutPath" serializeAs="String">
                <value>\\den3\IC\FROMAS400\5460</value>
            </setting>
        </MicosController.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>